body, html {
    padding: 0;
    margin: 0;
    background-color: #111111;
    font-family: Helvetica
}

nav {
    background-color: #080808;
    clear: both;
}

ul {
    list-style-type: none;
    margin: 0 auto;
    padding: 10 0;
    width: 960px;
}
  
li {
    display: inline;
    color: white;
    font-size: 28;
    margin-right: 16
}

p {
    margin: 0;
    color: white
}

h1, h2, h3 {
    color: white
}

header {
    background-color: #111111;
    height: 100px;
    padding: 16;
    padding-bottom: 0px;
}

.logo {
    height: 78;
}

.block-wrapper {
    background-color: black;
    height: 400px;
    width: 960px;
    margin: 0 auto
}

.block {
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    cursor: pointer;
}

.block-bg-img {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.5
}

.first-block {
    height: 100%;
    width: 50%;
    float: left;
}
.second-block {
    height: 50%;
    width: 50%;
    float: left
}
.third-block {
    height: 50%;
    width: 25%;
    float: left
}
.forth-block {
    height: 50%;
    width: 25%;
    float: left
}

.block-title {
    z-index: 1;
    margin: 0 16;
}

.block-description {
    z-index: 1;
    margin: 0 16 24 16;
}

.main-wrapper {
    width: 960px;
    margin: 0 auto;
    display: flex;
    flex: 1
}

main {
    flex: 1;
    background-color: red;
    background-color: #111111;
    padding: 0 16 16 16
}

.title {
    font-size: 36
}

.subtitle {
    font-size: 32
}

.text-col {
    width: 48%;
    float: left
}

.second-col {
    float: right
}

.plain-text {
    line-height: 22px;
    font-size: 14;
    text-align: justify
}

@media screen and (max-width: 960px) {
    .block-wrapper {
        background-color: black;
        width: 480px;
        margin: 0 auto;
    }

    .first-block {
        width: 100%;
        float: none;
    }

    .second-block {
        width: 100%;
        float: none;
    }

    .third-block {
        width: 50%;
        float: left;
    }

    .forth-block {
        width: 50%;
        float: left
    }

    header {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    ul {
        list-style-type: none;
        margin: 0 auto;
        width: 480px;
    }

    .main-wrapper {
        width: 480px;
        margin: 0 auto;
        display: flex;
        flex: 1
    }

    .text-col {
        width: 100%;
        float: none
    }
    
    .second-col {
        float: none
    }
}

@media screen and (max-width: 480px) {
    .block-wrapper {
        background-color: black;
        width: 100%;
        margin: 0 auto;
    }

    .first-block {
        width: 100%;
        height: 95vw;
        float: none;
    }

    .second-block {
        width: 100%;
        height: 47vw;
        float: none;
    }

    .third-block {
        width: 50%;
        height: 47vw;
        float: left;
    }

    .forth-block {
        width: 50%;
        height: 47vw;
        float: left
    }

    .block-title {
        z-index: 1;
        margin: 0 8;
        font-size: 20
    }
    
    .block-description {
        z-index: 1;
        margin: 0px 8px 12px 8px;
        font-size: 14
    }

    .logo {
        height: auto;
        width: 80%;
    }

    ul {
        width: 100%;
        list-style-type: none;
        margin: 0px auto;
    }

    li {
        font-size: 20;
        margin-right: 10px;
        margin-left: 16px
    }

    .title {
        font-size: 28
    }
    
    .subtitle {
        font-size: 24
    }

    .main-wrapper {
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex: 1
    }
}